.about {
    margin-top: 150px;
    position: relative;
}

.about__content {
    margin-top: 70px;
    &-title {
        max-width: 390px;
        @include subtitles-colored();
    }
}

.about__list {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    max-width: 977px;
    flex-wrap: wrap;
    gap: 20px;
}

.about__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.about__number {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    span {
        background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 100.36%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
}

.about__text {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.about__hightlights-red {
    top: -450px;
    left: -50%;
    filter: opacity(0.6)
}

@media (max-width: 520px) {
    .about {
        margin-top: 80px;
    }

    .about__list {
        margin-top: 20px;
    }

    .about__item:first-child {
        order: 1;
    }

    .about__content {
        margin-top: 40px;
    }
    .about__content-title {
        font-size: 18px;
        line-height: 22px;  
    }

    .about__number {
        font-size: 36px;
        line-height: 44px;
    }

    .about__text {
        font-size: 14px;
        line-height: 17px;
    }
}