.header {

}
.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.header__navlogo {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 27px;
    position: relative;
}
.header__logo {
    max-width: 165px;
    &-img {

    }
    &-info {
        margin-top: 8px;
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: 10px;
        line-height: 12px;
    }
}
.header__burger {
    display: none;
    gap: 10px;
    cursor: pointer;
    &-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3px;
        span {
            display: block;
            width: 18px;
            height: 2px;
            background-color: $default-text-color;
            transition: all 0.3s;
            &:nth-child(2n) {
                margin-left: 0px;
                width: 9px;
            }
        }
    }
    &-text {
        font-family: 'Inter';
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    &:hover {
        .header__burger-icon {
            span {
                &:nth-child(2n) {
                    margin-left: 9px;
                }
            }
        }
    }
}
.header__menu {
    &-list {
        display: flex;
        justify-content: space-between;
        align-items:center;
        gap: 30px;
    }
    &-item {

    }
    &-link {
        @include header-text;
        transition: all 0.3s;
        &:hover {
            color: #FFF;
        }
    }
}
.header__contacts {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    gap: 50px;
}
.header__phone {
    @include header-text;
    transition: all 0.3s;
    &:hover {
        color: #4077F3;
    }
}
.header__social {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    gap: 35px;
    &-link {
        display: flex;
        padding-top: 2px;
        &:hover svg path {
            transition: all 0.3s;
            fill: #4077F3;
        }
    }
}

@media (max-width:1070px) {
    .header__menu {
        position: relative;
        &-list {
            flex-direction: column;
            gap: 10px;
            position: absolute;
            background-color: #0E1014;
            border-radius: 20px;
            max-height: 0px;
            padding: 0px;
            overflow: hidden;
            transition: all 0.3s;
            transition-delay: .3s;
        }
        &:hover {
            .header__menu-list {
                max-height: 200px;
                padding: 10px;
            }
        }
    }
    .header__burger {
        padding-top: 3px;
        display: flex;
        &:hover {
            &+.header__menu{
                .header__menu-list {
                    max-height: 200px;
                    padding: 10px;
                    transition: all 0.5s;
                }
            }
        }
    }
}

@media (max-width:780px) {
    .header__phone {
        display: none;
    }
    .header__social {
        gap: 25px;
    }
}

@media (max-width:570px) {
    .header__burger {
        display: none;
    }

    .header__menu {
        position: absolute;
        top: 100%;
        width: calc(100vw - 30px);
        &:hover {
            .header__menu-list {
                padding: 20px 0px;
            }
        }
        &-list {
            padding: 20px 0px;
            flex-direction: row;
            max-height: unset;
            border-radius: 0;
            top: 100%;
            position: static;
        }
    }

    .header__logo-info {
        display: none;
    }
}
@media (max-width:480px){
    .header__wrapper {
        gap: 10px;
    }
    .header__menu-item:last-child {
        display: none;
    }
    .header__menu-link {
        font-size: 12px;
        line-height: 15px;
    }
}