.individual {
    margin-top: 150px;

}
.individual__inner {
    padding-top: 49px;
    padding-bottom: 49px;
}
.individual__title {
}

.individual__content {
    margin-top: 70px;
    display: flex;
    gap: 97px;
    flex-direction: row;
}

.individual__highlights {
    position: relative !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.individual__highlights--ball--red {
    top: -435px;
    left: 83%;
}
.individual__highlights--red {
    top: -700px;
    left: 62%;
    filter: opacity(0.5)
}
.individual__highlights--purple {
    top: -800px;
    left: -30%;
    filter: opacity(0.5)
}

@media (max-width: 800px) {
    .individual {
        margin-top: 80px;
    }
    .individual__inner {
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .individual__content {
        margin-top: 25px;
        gap: 35px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
@media (max-width: 640px) {
    .individual__content {
        justify-content: center;
    }
    .individual__content-titles {
        align-self: flex-start;
    }
}