.letsmeet {
    margin-top: 250px;
    position: relative;

}

.letsmeet__content {
    display: flex;
    justify-content: space-between;
    gap: 31px;
    margin-top: 70px;
    position: relative;
}
.letsmeet__preview {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-shrink: 1;
}
.letsmeet__preview-title {
    @include subtitles-colored();
}
.letsmeet__preview-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 28px;
    position: relative;
}
.letsmeet__preview-video {
    width: 460px;
    height: 260px;
}
.letsmeet__preview-play {
    max-width: 171px;
    gap: 10px;
}
.letsmeet__preview-button {
    
}
.letsmeet__preview-label {
    
}
.letsmeet__person {
    position: relative;
    flex-grow: 1;

    // background: linear-gradient(135deg, rgba(14, 16, 20, 0) 61.2%, rgba(187, 86, 209, 0.023) 103.33%);
}
.letsmeet__person-name {
    max-width: 200px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

}
.letsmeet__person-photo {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.letsmeet__highlights {
}
.letsmeet__highlight--red {
    left: 33%;
    top: -50px;
    filter: opacity(0.5);
}
.letsmeet__highlight--purple {
    left: 60%;
    top: -250px;
    filter: opacity(0.5);
}
.letsmeet__highlight--ball {
    left: 93%;
    top: 250px;

}

@media (max-width: 1010px) {
    .letsmeet__content {
        margin-top: 150px;
    }
    .letsmeet__preview-title {
        left: 0;
        position: absolute;
        top: -50%;
    }
    .letsmeet__preview {
        order: 2;
    }
    .letsmeet__preview-inner {
        margin-top: 50px;
        gap: 0;
    }



    .letsmeet__person-photo {
        right:auto;
        left: 0;
        max-height: 120%;
    }
    .letsmeet__person-name {
        position: absolute;
        left: 95%;
        top: -10%;
        width: 220px;
    }
}

@media (max-width: 745px) {
    .letsmeet {
        margin-top: 190px;
    }

    .letsmeet__preview-video {
        width: 55vw;
        height: 35vw;
    }


    .letsmeet__content {
        gap: 5px;
    }

    .letsmeet__preview-title {
        font-size: 18px;
        line-height: 22px;
    }
    .letsmeet__person-name {
        font-size: 14px;
        line-height: 17px;
        left: 75%
    }
    .letsmeet__person {
        max-width: 210px;
        min-width: 140px;
    }
    .letsmeet__highlight--ball {
        left: 53%;
        top: 150px;
    }
}

@media (max-width: 465px) {
    .letsmeet__preview-video {
        width: 45vw;
        height: 28vw;

    }

    .letsmeet__preview-title {
        top: -70%;
    }

}

@media (max-width: 380px) {
    .letsmeet__content {
        margin-top: 110px;
    }
    .letsmeet__preview-title {
        top: -70%;
    }
}