.markedList {
    display: flex;
    flex-direction: column;

}
.markedList__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &--fw {
        flex-wrap: wrap;
    }
    &--g10 {
        gap:10px;
    }
    &--h285{
        max-height: 285px;
    }
}
.markedLi {
    position: relative;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-left: 30px;
    &:before {
        content: '';
        position: absolute;
        top: 0.6em;
        left: 0;
        width: 20px;
        height: 1px;
        background: linear-gradient(86deg, rgba(252,176,69,1) 0%, rgba(253,29,29,1) 100%);

    }
    &--w293 {
        width: 293px;
    }
    &--lh19 {
        line-height: 19px;
    }
}

@media (max-width: 790px) {
    .markedLi {
        font-size: 15px;
        line-height: 22px;
    }
}

@media (max-width:420px) {
    .markedLi {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
    }
    .markedList__list {
        gap: 10px;
    }
}