.playvideo {
    &__img {
        cursor: pointer;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(0.5);
            transition: all 1s;
            &.hovered {
                //On hovering adding class .hovered
                filter: brightness(1);
            }
        }

    }
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    &__button {
        width: 44px;
        height: 44px;
        border: 1px solid $default-text-color;
        border-radius: 100%;
        position: relative;
        transition: all 1s;
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-25%, -50%);
            border: 7px solid transparent;
            border-left: 10px solid $default-text-color;
        }
        //On hovering adding class .hovered
        &.hovered {
            background: #4077F3;
            box-shadow: 0px 4px 30px -5px rgba(180, 200, 247, 0.5), inset 0px 4px 67px rgba(255, 255, 255, 0.25);
            border-color: #4077F3;
        }
    }

    &__label {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        cursor: pointer;
        transition: all 1s;
        //On hovering adding class .hovered
        &.hovered {
            text-decoration: underline;
        }
    }
}

@media (max-width:1010px) {
    .playvideo__label {
        display: none;
    }

    .playvideo__button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}