.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(2px);
    display: none;
}
.popup__block {
    position: absolute;
    width: 810px;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    background: #0E1014;
    border: 1px solid #25262C;
    border-radius: 5px;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 50px;
    padding-bottom: 50px;
    transition: all 0.3s;
}
.popup__title {
    @include subtitles-colored;
    font-weight: 700;
}
.popup__subtitle {
    margin-top: 20px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.popup__form {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    transition: all 1s;
    max-height: 650px;

    &.invisible {
        max-height: 0px;
        overflow: hidden;
    }

    & .phone-form__bottom {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 32px;
        align-items: flex-start;
    }
}