.posttitles {
    display: flex;
    flex-wrap: wrap
}

.posttitles__title {
    @include subtitles-colored();
    &--w459{
        width: 459px;
    }
    &--w391 {
        width: 391px;
    }
    &--w322 {
        width: 322px;
    }
    &--w292{
        width: 292px;
    }
    &--w261 {
        width: 261px;
    }
    &--w250 {
        width: 250px;
    }
}

.posttitles__subtitle {
    width: 322px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    &--w310 {
        width: 310px;
    }
    &--w292 {
        width: 292px;
    }
    &--w275 {
        width: 275px;
    }
    &--w250 {
        width: 250px;
    }
    &--small {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        display: flex;
        gap: 10px;
        flex-direction: column;
    }
}

@media (max-width: 790px) {
    .posttitles__subtitle {
        width: auto;
    }
}

@media (max-width:520px) {
    .posttitles__title {
        font-size: 18px;
        line-height: 22px;  
    }
    .posttitles__subtitle {
        font-size: 14px;
        line-height: 17px;
    }
}
