.problems {
    margin-top: 156px;
    position: relative;
}

.problems__title {
}

.problems__content {
    margin-top: 70px;
    display: flex;
    flex-direction: column;

}
.problems__before {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.problems__before-titles {
    gap: 30px;
    max-width: 811px;
}

.problems__before-results {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: space-between;

}
.problems__before-without {
    gap: 30px;
    width: 296px;
    flex-shrink: 0;
} 
.problems__before-noresult {
    gap: 30px;
    flex-shrink: 0;
    width: 653px;

}

.problems__after {
    margin-top: 70px;
}

.problems__after-list {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 25px;
    justify-content: space-between;
}
.problems__after-item {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}
.problems__after-img {
    max-height: 70px;
    max-width: 70px;
}
.problems__after-name {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.problems__after-text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.problems__highlights--ball {
    top: 578px;
    right: 0%;
}
.problems__highlights--yellow {
    top:-400px;
    right: -60%;
    filter: opacity(0.5);
}

@media (max-width:1050px) {
    .problems__before-results {
        justify-content: space-around;
    }
    
    .problems__before-noresult {
        width: auto;
    }

    .markedList__list {
        max-height: none;
    }
}

@media (max-width:700px) {

    .problems {
        margin-top: 80px;
    }
    .problems__before-results {
        flex-direction: column;
        justify-content: flex-start;
        gap: 0px;
    }
    .problems__before-elem-title {
        width: fit-content;
        padding: 16px;
        padding-right: 40px;
        background: url('./../images/problems/cursor.png') no-repeat right center/5%;
        filter: brightness(0.5);
        cursor: pointer;
        transition: all 0.5s;
        border: 1px solid transparent;
        max-width: 250px;

        &+.problems__before-list {
            max-height: 0;
            overflow: hidden;
            transition: all 0.5s;
        }


        &:hover {
            filter: brightness(1);
            background: linear-gradient(152.66deg, rgba(255, 246, 233, 0.1) -0.56%, rgba(26, 29, 35, 0.1) 30.32%, rgba(26, 29, 35, 0.1) 59.86%, rgba(26, 29, 35, 0.2) 89.45%, rgba(26, 29, 35, 0.2) 115.41%);
            backdrop-filter: blur(7.5px);
            border: 1px solid rgb(139, 85, 162);
        }
        &.chosen {
            filter: brightness(1);
            background: linear-gradient(152.66deg, rgba(255, 246, 233, 0.1) -0.56%, rgba(26, 29, 35, 0.1) 30.32%, rgba(26, 29, 35, 0.1) 59.86%, rgba(26, 29, 35, 0.2) 89.45%, rgba(26, 29, 35, 0.2) 115.41%);
            backdrop-filter: blur(7.5px);
            border: 1px solid rgb(139, 85, 162);

            &+.problems__before-list {
                max-height: 900px;
            }
        }
    }

    .problems__before-without, .problems__before-noresult {
        gap: 15px;
        overflow: hidden;
    }

    .problems__after {
        margin-top: 40px;
    }
    .problems__after-name {
        font-size: 16px;
        line-height: 19px;
    }

    .problems__after-text {
        font-size: 14px;
        line-height: 20px;
    }
    .problems__after-list {
        margin-top: 30px;
    }
    .problems__after-item {
        gap: 10px;
    }
}

@media (max-width:315px) {
    .problems__before-without, .problems__before-noresult {
        width: 100%;
        font-size: 14px;
        line-height: 20px;
    }
}