.title {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
}
.subtitle {
    font-family: 'Inter';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

@media (max-width:640px) {
    .title {
        font-size: 36px;
        line-height: 44px;
    }
}

@media (max-width:319px) {
    .title {
        font-size: 28px;
        line-height: 36px;
    }
}