.wrapper {
    position: relative;
    &--audit-calculator {
        margin-top: 144px;
        padding-top: 49px;
        padding-bottom: 156px;
    }
}

@media (max-width: 800px) {
    .wrapper--audit-calculator {
        margin-top: 40px;
    }
}

.wrapper__highlights {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}